body {
  background-color: #272822;
  font-family: 'Noto Sans', sans-serif;
  opacity: 0.75;
}
.bg-dry_clay {
  background-color: #272822;
}
.bg-orchid {
  background-color: #F92672;
}
.bg-sky_blue {
  background-color: #66D9EF;
}
.bg-grasshoppah {
  background-color: #A6E22E;
}
.bg-pumpkin_spice {
  background-color: #FD971F;
}
.text-dry_clay {
  background-color: #272822;
}
.text-orchid {
  color: #F92672;
}
.text-sky_blue {
  color: #66D9EF;
}
.text-grasshoppah {
  color: #A6E22E;
}
.text-pumpkin_spice {
  color: #FD971F;
}
.left {
  z-index: 1;
  position: fixed;
  width: 65px;
  bottom: 0;
  top: 50px;
  height: 100%;
}
.main-content {
  height: 100%;
  background: rgba(3, 159, 244, .95);
  top: 0;
  bottom: 0;
  margin-left: 180px;
  margin-right: 160px;
  background-color: #253150;
}
.wrapper {
  height: 100vh;
  display: flex;
  width: 100%;
  bottom: 0;
  flex-direction: column;
  background-color: #253150;
}
main.main {
  /*margin: 50px 0px 50px 0px;TRBL*/
  margin-top: 50px;
  bottom: 0px;
  left: 50px;
  color: white;
  width: 100%;
  background-color: #253150;
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #2e2d2d;
  border: 0px none #323232;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c;
}
::-webkit-scrollbar-thumb:active {
  background: #3b3939;
}
::-webkit-scrollbar-track {
  background: #454545;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #4e4e4e;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.brand {
  margin-left: 10px;
}
.log_loader {
  left: 144px;
}
.loading-house-wrapper {
  height: 50px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-left: 10px;
}

.loading-house {
  width: 50px;
  height: 50px;
}
.loading {
  background-color: #FD971F;
  display: inline-block;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.loading-house > div {
  background-color: #FD971F;
  height: 50px;
  width: 6px;
  display: inline-block;
  transform: scaleY(0.4);
}
.loading-house .rect2 {
  animation-delay: -1.1s;
}
.loading-house .rect3 {
  animation-delay: -1.0s;
}
.loading-house .rect4 {
  animation-delay: -0.9s;
}
.loading-house .rect5 {
  animation-delay: -0.8s;
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
  }
}
#crumbs {
  text-align: center;
  margin-left: 100px;
  position: absolute;
}
#crumbs ul {
  list-style: none;
  display: inline-table;
}
#crumbs ul li {
  display: inline;
}
#crumbs ul li a {
  display: block;
  float: left;
  background: #3498db;
  text-align: center;
  position: relative;
  margin: 5px 10px 0px 1px;
  text-decoration: none;
  color: #fff;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-top: 10px;
}
#crumbs ul li a:after {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #3498db;
  position: absolute;
  right: -15px;
  top: 0;
  z-index: 1;
}
#crumbs ul li a:before {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #272822;
  position: absolute;
  left: 0;
  top: 0;
}
#crumbs ul li:first-child a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#crumbs ul li:first-child a:before {
  display: none;
}
#crumbs ul li:last-child a {
  padding-right: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#crumbs ul li:last-child a:after {
  display: none;
}
#crumbs ul li a:hover {
  background: #F92672;
}
#crumbs ul li a:hover:after {
  border-left-color: #F92672;
}
