<!DOCTYPE html>
<html ng-app="mokzi-app">
    <head lang="en">
        <meta charset="UTF-8">
        <title>Application Title</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="favicons/book.png">

        <!--css-->
        <link rel="stylesheet" href="css/mystyles.css">
        <link rel="stylesheet" href="css/loading.css">
        <link rel="stylesheet" href="css/landing.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/chat.css">
        <link rel="stylesheet" href="lib/nvd3/build/nv.d3.css">

        <!--libraries-->
        <script src="lib/jquery/dist/jquery.min.js"></script> 
        <script src="lib/velocity-animate/velocity.min.js"></script> 
        <script src="components/chat/list.js"></script>
        <script src="components/chat/handlebars.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="lib/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
        <script src="lib/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/build/nv.d3.min.js"></script>
        <script src="lib/angular-nvd3/dist/angular-nvd3.min.js"></script>
        <script src="lib/instant-icons/icons.js"></script>

        <!--main app file-->
        <script src="app.module.js"></script>

        <!--configuration-->
        <script src="app.config.js"></script>

        <!--directives-->
        <script src="components/loading/loading.js"></script>
        <script src="components/pageslide/pageslide.js"></script>
        <script src="components/pageslide/pageslide-body.js"></script>
        <script src="components/navbar/navbar.js"></script>
        <script src="components/chat/chat.js"></script>
     <!--services-->

        <!--factories-->

        <!--controllers-->
        <script src="components/pageslide/PageSlideController.js"></script>
        
        <!-- Modules -->
        <script src="git-status/git-status.js"></script>
    </head>
    <body>


    <div ng-controller="pageslideCtrl">
        <div class="header">
            <div>
                <navigation-bar></navigation-bar>
                <pageslide ps-open="activated"
                           ps-side="left"
                           ps-body-class="true">
                    <page-slide-body>
                    </page-slide-body>
                </pageslide>
            </div>
            <div ng-if="isLoading"
                 class="loading-mask-above">
                <loading-mask></loading-mask>
            </div>
        </div>
        <div ng-class="{overlay: activated || isLoading}"></div>
        
        <div class="spacing-from-navbar">
            <div ui-view></div>
        </div>
    </div>

    <div ng-controller="ChatBoxCtrl as chatBox">
        <litter-box ng-show="chatBox.toggler">
        </litter-box>
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="#">Mokzi Reader
                </a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a class="navbar-brand" href="#">
                            <img height="20"
                                 alt="LitterBox"
                                 ng-click="chatBox.toggle()">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </body>
</html>
